@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";

@import 'embed.scss';
@import 'copy-tex.scss';
@import 'tables.scss';
@import 'balloon.scss';
// @import 'firework.scss';

// @import 'highlight.github.min.scss';


html {
	font-size: 17px;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	word-wrap: break-word;
}


body, button, input, select, textarea {
		font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
	font-weight: 400;
	line-height: 1.5;
}

h1 {
	font-size: 1.75rem;
}

audio, img, video {
	height: auto;
	max-width: 100%;
}

li {
	margin-bottom: .5rem
}


blockquote {
	font-family: 'serif';


	footer {
		display: block;
		font-size: 80%;
		color: #6c757d;
	}
}

i, cite, em, var, address, dfn {
		font-style: italic;
}

code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	color: #ff3860;
	font-weight: normal;
	font-size: 0.875em;
}

abbr[data-original-title], abbr[title] {
	cursor: help;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

.content {
	a:link:hover, a:visited:hover {
		color: #f41224;
		border-color: rgba(244,18,36,.3);
	}

	a:visited {
		color: #b40eb4;
		border-color: rgba(180,14,180,.3);
	}

	a:link {
		color: #004aff;
		text-decoration: none;
		border-bottom: 1px solid rgba(0,137,255,.3);
		transition: color .3s ease,border-color .3s ease;
	}
}


// https://ru.nuxtjs.org/guide/routes-transitions
.page-enter-active, .page-leave-active {
	transition: opacity .5s;
}
.page-enter, .page-leave-active {
	opacity: 0;
}

.cards {
	margin: 1.5rem 0;

	a:link:hover, a:visited:hover {
		color: #fff;
		box-shadow: 0px 0px 1.5rem rgba(0, 0, 0, 0.5);
		filter: grayscale(0%);
		filter: blur(0px);
		filter: brightness(120%);
		transform: scale(1.02);

	}

	a:visited {
		color: #fff;
	}

	a:link {
		color: #fff;
	}
}

.default-layout .container {
	max-width: 800px;
}

.card {
	box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	transition: .3s ease, transform .2s ease-in-out;
	background-position: cover;
	text-shadow: 0 0 1px rgba(0,0,0,0.4);
	background: #333;
	color: #fff;
}


a.dropdown-item, button.dropdown-item {
    justify-content: left;
}

.breadcrumb > ul > li:last-child {
	
	.dropdown-trigger a {
		color: #333;
		border-bottom: 1px dashed rgba(0,137,255,.3);
	}
}

@media screen and (min-width: 1088px) {
	.bd-lead {
		margin-left: -3rem;
		padding: 0 3rem;
	}
}

@media screen and (max-width: 1087px) {
	.bd-lead {
		padding: 0 1.5rem;
	}
}

