@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";

@import 'embed.scss';
@import 'copy-tex.scss';
@import 'tables.scss';
@import 'balloon.scss';
@import 'first-page.scss';
@import "balloon.scss";


html {
	font-size: 17px;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	word-wrap: break-word;
}


body, button, input, select, textarea {
	font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
	font-weight: 400;
	line-height: 1.5;
}

h1 {
	font-size: 1.75rem;
}

audio, img, video {
	height: auto;
	max-width: 100%;
}

li {
	margin-bottom: .5rem
}


blockquote {
	font-family: 'serif';


	footer {
		display: block;
		font-size: 80%;
		color: #6c757d;
	}
}

i, cite, em, var, address, dfn {
	font-style: italic;
}


.content figure {
	margin:0;
}

.content {
	a:link:hover, a:visited:hover {
		color: #f41224;
		border-color: rgba(244,18,36,.3);
	}

	a:visited {
		color: #b40eb4;
		border-color: rgba(180,14,180,.3);
	}

	a:link {
		color: #004aff;
		text-decoration: none;
		border-bottom: 1px solid rgba(0,137,255,.3);
		transition: color .3s ease,border-color .3s ease;
	}
}


// https://ru.nuxtjs.org/guide/routes-transitions
.page-enter-active, .page-leave-active {
	transition: opacity .5s;
}
.page-enter, .page-leave-active {
	opacity: 0;
}

.cards {
	margin: 1.5rem 0;

}



a.dropdown-item, button.dropdown-item {
    justify-content: left;
}


@media screen and (min-width: 1088px) {
	.bd-lead {
		margin-left: -3rem;
		padding: 0 3rem;
	}
}

@media screen and (max-width: 1087px) {
	.bd-lead {
		padding: 0 1.5rem;
	}
}


.main {
	.content figure:not(:last-child) {
		margin-bottom: 0;
	}
	.intro {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 4.5rem;
	}

	.block {
		margin: 2rem 0 2rem 0;
	}


	.intro-text {
		font-weight: 300;
	}

	.intro figure {
		margin-left: 0;
	}

	ul.contacts {
			columns: 2;
			margin-left: 0;
			list-style: none;
			padding: 0;
	}

	@media only screen and (min-width: 1215px) {
		ul.contacts {
			columns: 3;
		}
	}
	@media only screen and (max-width: 768px) {
		ul.contacts {
			columns: 1;
		}
	}

	.courses {
		&>h2 {
			& > span {
				font-weight: 300;
				font-size: 0.8rem;
			}
			line-height: 1.1rem;
		}
	}

	.cards {
		margin-top: 30px;
	}
}



.note {
	blockquote {
		margin: 0;
	}
	
	p {
		margin: 3px 0;
	}
}

@media screen and (min-width: 1280px) {
	.note {
		font-size: .8em;
		float: right;
		margin: -6rem -14rem 0 0rem;
		max-width: 400px;
		width: 14rem;
		line-height: normal;
		font-style: italic;
		font-weight: 400;

		figure {
			margin: 0;
			img {
				margin: 0;
			}
		}
	}
}

@media screen and (max-width: 1280px) {
	.note {
		font-style: italic;
	}
}


summary {
	margin: -.5em -.5em 0;
	padding: .5em;
	cursor: pointer;
	& > * {
		border-bottom: 1px dashed #999;
		display: inline;
	}
}

details[open] {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: .5em .5em 0;
}

.js-toc {
	position: fixed;
	top: 3.25rem;
	right: 10px;
	width: 250px;
	font-size: 0.8rem;
	color: #bbb;
	overflow-y: scroll;
	bottom: 0;
	a {
		opacity: 0.2;
		text-decoration: none;
		color: black;
	}

	&:hover {
		opacity: 1;
		a {
			opacity: 1;
		}
	}
}

@media screen and (max-width: 1024px) {
	.js-toc {
		position: inherit;
		top: 0;
		right: 0px;
		width: 100%;
	}
}


.is-active-li {
	font-weight: 900;
	color: #000;

		a {
			opacity: 1;
		}
}

.task {
	border-color: #3273dc;
	border-radius: 4px;
	border-style: solid;
	border-width: 0 0 0 4px;
	color: #22509a;
	padding: 1.25em 1.5em;
	background-color: #f6f9fe;
	box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.18);
}

.task::before {
	content: "Exercise";
	font-size: 0.7rem;
	float: right;
	text-shadow: 0 0 2px #fff;
	font-weight: 700;
	position: relative;
	top: -20px;
	margin-bottom: -30px;
	right: -20px;
	color: #b0bfd8;
}

pre, code {
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
	font-weight: normal;
	font-size: 0.9rem;
}

