// @import 'utilities/_all.sass';
// @import 'columns.sass';
// @import 'image.sass';


@import 'embed.scss';
@import 'copy-tex.scss';
// @import 'firework.scss';

// @import 'highlight.github.min.scss';


html {
	font-size: 18px;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	word-wrap: break-word;
}

body, button, input, select, textarea {
		font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

table {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
	box-sizing: border-box;
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: grey;
}

th {
	text-align: inherit;
}

thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}

table td, table th {
	padding: .25rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

body {
	font-weight: 400;
	line-height: 1.5;
}

pre {
	font-size: 0.75rem;
}

h1 {
	font-size: 1.75rem;
}

audio, img, video {
	height: auto;
	max-width: 100%;
}

li {
	margin-bottom: .5rem
}

@media screen and (min-width: 970px) {
	.layout {
		margin-left: .75rem;
	}
}

@media screen and (min-width: 1280px) {
	.layout {
		margin-left: 1.5rem;
	}
}

.container {
	position: relative;
}

@media screen and (min-width: 970px) {
	.container {
		width: 820px;
		max-width: 60%;
	}
}



blockquote {
	font-family: 'serif';


	footer {
		display: block;
		font-size: 80%;
		color: #6c757d;
	}
}

i, cite, em, var, address, dfn {
		font-style: italic;
}

code {
	font-family: monospace;
	background-color: whitesmoke;
	color: #ff3860;
	font-size: 0.875em;
	font-weight: normal;
	padding: 0.25em 0.5em 0.25em;
}

abbr[data-original-title], abbr[title] {
	cursor: help;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

a:link:hover, a:visited:hover {
	color: #f41224;
	border-color: rgba(244,18,36,.3);
}

a:visited {
	color: #b40eb4;
	border-color: rgba(180,14,180,.3);
}

a:link {
	color: #004aff;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,137,255,.3);
	transition: color .3s ease,border-color .3s ease;
}

.text-cell {
	background-color: #fff;
	margin: 2em 0em 0em 0em;
}

// https://ru.nuxtjs.org/guide/routes-transitions
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0;

	.card {
		padding: 20px 20px;
		box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.3);
		max-width: 30%;
		min-width: 200px;
		list-style: none;
		margin: 20px 20px 20px 0;
		border-radius: 10px;
		transition: box-shadow .3s ease, color .3s ease;
		background-position: cover;
		text-shadow: 0 0 1px rgba(0,0,0,0.3);
		// filter: grayscale(90%);
		// filter: blur(5px);

		.title {
			border: none;
		}

		&:link:hover, a:visited:hover {
			color: #fff;
			border-color: rgba(244,18,36,.3);
		}

		&:visited {
			color: #fff;
			border-color: rgba(180,14,180,.3);
		}

		&:link {
			color: #fff;
			text-decoration: none;
			border-bottom: none;
		}

		&:hover {
			box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.5);
			filter: grayscale(0%);
			filter: blur(0px);

		}
	}
}

